<div class="container my-4">
    <div class="row d-flex justify-content-center" *ngIf="productdetail">
        <div class=" col-md-5  p-0">
            <img class="border border-black border-2 rounded-3 w-100 m-0"
                src="../assets/img/{{productdetail.image}}.jpeg">
        </div>
        <div class="col-md-7 px-5">
            <h2>TOUR {{productdetail.name}}</h2>
            <br>
            <h4 class="text-danger">Khuyến mãi: {{productdetail.sale | number }} VND</h4>
            <p>Giá gốc: <del>{{productdetail.price | number}} VND</del></p>
            <hr>
            <p><b>Mô tả:</b> </p>
            <p><i class=" bi-alarm"></i> Thời gian:{{productdetail.duration}}</p>
            <p><i class=" bi bi-airplane"></i> Phương tiện:{{productdetail.transport}}</p>
            <p><i class=" bi bi-house"></i> Khách sạn: {{productdetail.hotel}} <i
                    class="text-warning bi bi-star-fill"></i></p>
            <p><i class=" bi bi-calendar-date"></i> Ngày đi:{{productdetail.start}}</p>
            <br>
            <div class="d-flex justify-content-between align-items-center">
                <label class="form-label"><b>SỐ LƯỢNG:</b> </label>
                <input type="number" class="form-control w-25" value="1" min="1" #quantity>
                <button (click)="addCart(quantity.value)" class="btn px-4 btn-warning w-50">THÊM VÀO GIỎ HÀNG</button>
            </div>
        </div>
    </div>
    <div>
        <p><b>➤ Giao vé tận nơi nội thành trong vòng 24h </b></p>
        <p><b>➤ Giao vé tận nơi ngoại thành từ 1-3 ngày</b></p>
        <div class="border border-3 border-danger p-3 rounded-3 text-success">
            <p>Miễn phí 1 vé trẻ em khi mua 2 vé người lớn </p>
            <p>Tặng: nón du lịch, áo du lịch, nước suối, vé buffe </p>
            <p>Giảm 20% khi mua vé đoàn từ 20 người </p>
            <p>Giảm 30% khi mua vé đoàn từ 40 người</p>
            <p>Gói bảo hiểm du lịch, bảo hiểm tai nạn miễn phí</p>
        </div>
    </div>
</div>
<div class="container" *ngIf="!productdetail">
    <h1>Không tìm thấy sản phẩm</h1>
</div>